DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
FRONTEND_URL=http://localhost:5173
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DEFAULT_FROM_EMAIL=chengkiat03@gmail.com
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=golah9378@gmail.com
EMAIL_HOST_PASSWORD=unxv jjrr bqrh avbu
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false

GOOGLE_CLIENT_ID=737945141908-qbat3gktenf7iqp90ah3p2gqnp6is5nc.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
ONEMAP_EMAIL="chengkiat03@gmail.com"
ONEMAP_PASSWORD="U2440275Glimc0239#"
LTA_ACCOUNT_KEY=lQC4Sa/AR5ejf6ufEFIgVw==